<div class="row modalRow">
  <div class="col-3">
    <img class="imgModal" src="{{ results.avatar_url }}">
  </div>
  <div class="info col-9">
    <a class="text-title">{{ results.login }}</a>
    <hr>
    <div class="row infoRow">
      <div class="col-6">
        <a class="text">Username:</a>
        <br><a class="text-result">{{ results.login }}</a>
      </div>
      <div class="col-6 text-right">
        <a class="text">Seguindo:</a>
        <br><a class="text-result">{{ results.following }}</a>
      </div>
    </div>
    <div class="row infoRow">
      <div class="col-6">
        <a class="text">Cadastrado(a):</a>
        <br><a class="text-result">{{ results.created_at }}</a>
      </div>
      <div class="col-6 text-right">
        <a class="text">Seguidores:</a>
        <br><a class="text-result">{{ results.followers }}</a>
      </div>
    </div>
    <div class="row infoRow">
      <div class="col-6">
        <a class="text">URL: </a>
        <br><a href="{{ results.html_url }}" class="text-result">{{ results.html_url }}</a>
      </div>
    </div>
    <br>
    <div class="text-right">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Cross click')">
        Fechar
      </button>
    </div>
  </div>
</div>